html,body {
    margin: 0;
    height: 100%;
}
.container {
    overflow-x: hidden;
    background: #EEF5F9;
    height: 100%;
}
nav.navbar {
    background: #3449a4;
    padding: 15px;
    color: #fff;
    position: relative;
    border-radius: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
.navbar .navbar-header {
    width: 100%;
}
.page-content {
    display: flex;
    align-items:stretch;
    height: 100%;
}
nav.navigation {
    background: #fff;
    min-width: 250px;
    max-width: 250px;
    color: #000;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 999;
    height: 100%;
}
.navigation .nav-options {
    list-style: none;
    padding: 15px 0;
    margin: 0;
}
.navigation .nav-options a{
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-weight: 300;
    border-left: 4px solid transparent;
    color: #000000;
    font-size: 20px;
}
.content {
    width: 100%;
}
.view-container .page-header {
    background: #ffffff;
    padding: 20px 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 99;
    font-weight: 500;
}
.view-container .page-header .header-container {
    padding: 0 15px;
}
.view-container .page-header .pagetitle{
    margin: 0;
}
.view-container .partial-container {
    padding: 50px 0;
}
.view-container .home-page .home-content {
    width: 70%;
    background: #ffffff;
    margin: auto;
    padding: 10px;
    box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.75);
}
.view-container .home-page .home-content h1{
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}
.view-container .home-page .home-content .home-links {
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.btn{
    color: #eef5f9;
    background-color: #3449a4;
    border-color: #3449a4;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none !important;
    border: 1px solid transparent;
    padding: 7px 14px;
    font-size: 18px;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}
.btn:hover {
    color: #fff;
    background-color: #3449a4;
    border-color: #3449a4;
    text-decoration: none !important;
    -webkit-box-shadow: -10px 10px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -10px 10px 20px 0px rgba(0,0,0,0.3);
    font-weight: 500;
    box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
}





.view-container .form-div .student-form table{
    margin: auto;
    border-spacing: 15px;
    font-size: 18px;
    width: 50%;
}
.view-container .form-div .student-form tr{
    margin-bottom: 10px;
}
.view-container .form-div .student-form tr .form-element {
    width: 100%;
    font-size: 18px;
}



.view-container .display-data table{
    margin: auto;
}
.view-container .display-data td{
    font-size: 20px;
    padding: 5px;
}
.view-container .display-data td,
.view-container .display-data th {
    border: 1px solid #dddddd;
}

.view-container .display-data table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    /*margin: 0;*/
    padding: 0;
    width: 90%;
}
.view-container .display-data table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
.view-container .display-data table th,
.view-container .display-data table td {
    padding: 12px;
    text-align: center;
}
.view-container .display-data table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.view-container .display-data .partial-container table > tbody > tr:nth-child(2n+1) > td,
.view-container .display-data .partial-container table > tbody > tr:nth-child(2n+1) > th {
    background-color: #ffffff;
}



/*FOOTER*/
.footer {
    background: #3449a4;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    z-index: 999;
}
.footer .footer-content h3{
    margin: 0;
}