<div class="display-data">
    <header class="page-header">
        <div class="header-container">
            <h2 class="pagetitle">Summary of Student Data</h2>
        </div>
    </header>
    <div class="partial-container">
        <table>
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Date of Birth</td>
                    <td>Email</td>
                    <td>Mobile No.</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in studentsData">
                    <td>
                        <div ng-model="student.fname">{{student.fname}}</div>
                    </td>
                    <td>
                        <div ng-model="student.lname">{{student.lname}}</div>
                    </td>
                    <td>
                        <div ng-model="student.dob">{{student.dob}}</div>
                    </td>
                    <td>
                        <div ng-model="student.email">{{student.email}}</div>
                    </td>
                    <td>
                        <div ng-model="student.number">{{student.number}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>