<div class="form-div">
    <header class="page-header">
        <div class="header-container">
            <h2 class="pagetitle">Add Student Data</h2>
        </div>
    </header>
    <div class="partial-container">
        <form action="" method="" class="student-form">
            <table>
                <tr>
                    <td><label for="fname">First Name: </label></td>
                    <td><input type="text" id="fname" name="fname" ng-model="fname" class="form-element" placeholder="First name" /></td>
                </tr>
                <tr>
                    <td><label for="lname">Last Name: </label></td>
                    <td><input type="text" id="lname" name="lname" ng-model="lname" class="form-element" placeholder="Last name" /></td>
                </tr>
                <tr>
                    <td><label for="dob">Date of Birth: </label></td>
                    <td><input type="text" id="dob" name="dob" ng-model="dob" class="form-element" placeholder="Date of Birth (dd/mm/yyyy)" /></td>
                </tr>
                <tr>
                    <td><label for="email">Email: </label></td>
                    <td><input type="email" id="email" name="email" ng-model="email" class="form-element" placeholder="Email" /></td>
                </tr>
                <tr>
                    <td><label for="number">Mobile No.: </label></td>
                    <td><input type="text" id="number" name="number" ng-model="number" class="form-element" placeholder="Mobile number" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" id="submit" ng-click="Save()" class="btn" >Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>