<div class="home-page">
    <header class="page-header">
        <div class="header-container">
            <h2 class="pagetitle">Home</h2>
        </div>
    </header>
    <div class="partial-container">
        <div class="home-content">
            <h1>BETTER EDUCATION FOR <br/>BETTER WORLD</h1>
            <div class="home-links">
                <a href="#!form" class="btn">Add Student</a>
                <a href="#!display" class="btn">View Student Data</a>
            </div>
        </div>
    </div>
</div>
